.text{
  font-family: 'Roboto', sans-serif;
}

.font16 {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.font24 {
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.white{
  color: white;
}

.black{
  color: black;
}