.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: #E8E8E8;
  gap: 30px;

  .buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .button{
    padding: 12px;
  }

  .form{
    max-width: 1200px;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    overflow: auto;
  }
}
