.input{
  border: 2px solid transparent;
  border-radius: 6px;
  background-color: #E8E8E8;
  padding: 12px 16px;
  font-family: 'Roboto', sans-serif;
  font-size:16px;

  &:focus{
    border: 2px solid #000000;
    background-color: #FFFFFF;
  }
}