.modal{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);

  .content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
    font-weight: 500;

    .input{
      width: 90%;
    }

    .group{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      width: 100%;

      .select{
        text-align: center;
      }

      .datePicker{
        &:focus{
          border: 2px solid #000000;
          background-color: #FFFFFF;
        }
      }
    }

    .description{
      height: 50px;
    }
  }
}

.active{
  transform: scale(1);
}