.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
  height: 100%;

  .form{
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}