.todo{
  width: 300px;
  height: fit-content;
  background-color: #E8E8E8;
  border-radius: 5px;
  padding: 10px;

  .header{
    margin-bottom: 10px;
    font-weight: 600;
    overflow: hidden;

    .completed{
      color: green;
    }

    .expired{
      color: red;
    }
  }

  .data{
    display: flex;
    flex-direction: column;
    gap: 2px;

    .priority{
      display: flex;
      flex-direction: row;
      max-height: 20px;
      max-width: 300px;
      overflow: hidden;

      .name{
        min-width: 150px;
      }
    }
  }

  &:hover{
    cursor: pointer;
  }
}

