.group{
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .headerRow{
    margin-bottom: 10px;
  }

  .todos{
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: auto;
  }
}