.button{
  background-color: #000000;
  padding: 16px 20px;
  border: 2px solid transparent;
  border-radius: 6px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  width: 100%;

  &:active{
    background-color: #333333;
  }

  &:hover{
    cursor: pointer;
  }
}